.input-bar {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 60px;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
}

.search-input {
  /* font */
  font-size: 20px;
  font-family: inherit;
  /* container */
  flex: 1;
  padding-left: 35px;
  height: 24px;
  background-color: transparent;
  margin: 0px;
  border: none;
  outline: none;
  color: var(--light-grayish-blue);
  font-weight: 300;
}
