.input-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 3rem;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  margin-bottom: 25px;
}

.input-bar__input-field {
  font-size: 1rem;
  font-weight: 300;
  font-family: inherit;
  color: var(--light-grayish-blue);
  flex: 1;
  padding-left: 15px;
  height: 1rem;
  background-color: transparent;
  margin: 0px;
  border: none;
  outline: none;
}
