.icon-button {
  height: 30px;
  width: 30px;
  transition: filter 0.3s;
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
}

.icon-button > image {
  height: 100%;
  width: 100%;
}

.icon-button:hover {
  filter: drop-shadow(0 0 5px var(--bright-blue));
}

.icon-button:active {
  backdrop-filter: invert(30%);
}
