.state-button {
  padding: 5px 10px;
  border: 0px;
  background-color: transparent;
  /* font */
  font-size: inherit;
  font-family: inherit;
  color: var(--dark-grayish-blue);
  transition: filter 0.3s;
  border-radius: 3px;
}

.active {
  background-color: var(--very-dark-grayish-blue);
}

.state-button:hover {
  color: var(--light-grayish-blue);
  filter: drop-shadow(0 0 5px var(--pearl-white));
}

.state-button:active {
  background-color: var(--very-dark-grayish-blue);
}
