.outer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 50%;
  min-height: 225px;
  width: 600px;
  transform: translate(-50%, 0);
  background-color: transparent;
}

.main-header {
  /* font */
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--pearl-white);
  /* container */
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: start;
  margin-bottom: 50px;
}

.main-header span {
  flex: 1;
}

@media (max-width: 660px) {
  .outer-box {
    width: 90%;
  }
}
