.text-button {
  letter-spacing: 0.1rem;
  font-family: inherit;
  color: var(--button-enabled-dark);
  font-weight: 500;
  display: flex;
  height: 1.2rem;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s;
  border: none;
  border-radius: 3px;
  background: none;
  &:active {
    background-color: var(--button-active-background);
  }
  &.light {
    color: var(--button-enabled-light);
  }
  &:active {
    background-color: var(--very-light-grayish-blue);
  }
}

.text-button_medium {
  font-size: 0.8rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

.text-button_small {
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: 0.1rem;
}

.text-button_disabled {
  color: var(--button-disabled-dark);
  &.light {
    color: var(--button-disabled-light);
  }
}

.text-button_now-selected {
  background-color: var(--very-dark-grayish-blue);
  &.light {
    background-color: var(--light-grayish-blue);
  }
}

@media (hover: hover) {
  .text-button:hover {
    color: var(--button-hover);
    filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  }
  .text-button_disabled:hover {
    filter: unset;
    color: var(--button-disabled-dark);
  }
  .text-button_disabled.light:hover {
    filter: unset;
    color: var(--button-disabled-light);
  }
}

@media (max-width: 660px) {
  .text-button {
    height: 1rem;
    font-size: 0.8rem;
  }
}
