.button-edit {
  /* font */
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  color: var(--dark-grayish-blue);
  font-weight: 300;
  /* box */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;

  transition: filter 0.3s;
  padding: 0;
  border: none;
  padding: 0.25rem;
  margin: 0.25rem;
  background: none;

  border-radius: 3px;
}

.button-edit:hover {
  color: var(--light-grayish-blue);
  filter: drop-shadow(0 0 5px var(--pearl-white));
}

.button-edit:active {
  background-color: var(--very-dark-grayish-blue);
}

@media (max-width: 660px) {
  .button-edit {
    height: 1rem;
  }
}
