.button-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  transition: filter 0.3s;
  padding: 0;
  border: none;
  padding: 5px;
  margin: 5px;
  background: none;
  letter-spacing: 2px;
  font-size: 14px;
  color: var(--dark-grayish-blue);
  font-weight: 300;
  border-radius: 3px;
}

.button-edit:hover {
  color: var(--light-grayish-blue);
  filter: drop-shadow(0 0 5px var(--pearl-white));
}

.button-edit:active {
  background-color: var(--very-dark-grayish-blue);
}
