.icon-button-container {
  display: flex;
  padding: 0 0;
  justify-content: center;
  align-items: center;
}

.icon-button {
  height: 30px;
  width: 30px;
  padding: 0;
  transition: filter 0.3s;
  margin: 15px;
  border: none;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  fill: var(--button-enabled);
  border-radius: 3px;
}

.disabled {
  fill: var(--button-disabled);
}

.icon-button > svg {
  height: 100%;
  width: 100%;
}

.icon-button:hover:hover {
  color: var(--button-hover);
  filter: drop-shadow(0 0 5px var(--button-drop-shadow));
  fill: var(--button-hover);
}

.icon-button:active {
  background-color: var(--button-active-background);
}

.disabled:hover:hover {
  filter: unset;
  fill: var(--button-disabled);
}
