.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transition: filter 0.3s;
  margin: 15px 10px;
  border: none;
  padding: 0 0;
  background: transparent;
  fill: var(--button-enabled-dark);
  border-radius: 3px;
  &:active {
    background-color: var(--button-active-background);
  }
  &.light {
    fill: var(--button-enabled-light);
  }
  &:active {
    background-color: var(--very-light-grayish-blue);
  }
}

.icon-button_disabled {
  fill: var(--button-disabled-dark);
  &.light {
    fill: var(--button-disabled-light);
  }
}

@media (hover: hover) {
  .icon-button:hover {
    color: var(--button-hover);
    filter: drop-shadow(0 0 5px var(--button-drop-shadow));
    fill: var(--button-hover);
  }
  .icon-button_disabled:hover {
    filter: unset;
    fill: var(--button-disabled-dark);
  }
  .icon-button_disabled.light:hover {
    filter: unset;
    fill: var(--button-disabled-light);
  }
}

@media (max-width: 660px) {
  .icon-button {
    height: 25px;
    width: 25px;
    margin: 5px 5px;
  }
}
