.button-delete {
  height: 30px;
  width: 30px;
  transition: filter 0.3s;
  padding: 0;
  border: none;
  margin: 15px;
  background: none;
}

.button-delete > image {
  height: 100%;
  width: 100%;
}

.button-delete:hover {
  filter: drop-shadow(0 0 5px var(--bright-blue));
}
