.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
}

.checkbox-wrapper__input-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper__input-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-wrapper_disabled {
  filter: invert(30%);
}

.checkbox-wrapper__input-label__checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--checkbox-background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-wrapper__input-label:hover {
  filter: contrast(80%);
}

.checkbox-wrapper__input-label
  input:checked
  ~ .checkbox-wrapper__input-label__checkmark {
  background: linear-gradient(
    90deg,
    var(--linear-gradient-1),
    var(--linear-gradient-2) 50%
  );
}

.checkbox-wrapper:active {
  filter: contrast(150%);
}

.checkbox-wrapper__input-label__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper__input-label
  input:checked
  ~ .checkbox-wrapper__input-label__checkmark:after {
  display: block;
}

.checkbox-wrapper__input-label .checkbox-wrapper__input-label__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--checkbox-background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
