.general-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
}

/* Customize the label (the container) */
.container-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .container-loader {
  position: absolute;
  z-index: 9;
} */

/* Hide the browser's default checkbox */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.disabled {
  filter: invert(20%);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--checkbox-background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.container-label:hover input ~ .checkmark {
  filter: contrast(80%);
}
.container-label:hover input ~ .checkmark:active {
  filter: contrast(120%);
}

.container-label input:checked ~ .checkmark {
  background: linear-gradient(
    90deg,
    var(--linear-gradient-1),
    var(--linear-gradient-2) 50%
  );
}
.container-label input:checked ~ .checkmark:active {
  filter: contrast(120%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--checkbox-background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
