.footer-container {
  /* font */
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
  /* box */
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--very-dark-desaturated-blue);
  align-items: center;
  margin-bottom: 50px;
}

.footer-container span {
  flex: 1;
}

.footer-container .counter-container {
  display: flex;
  padding: 10px;
  width: 140px;
}

.footer-container .clear-container {
  display: flex;
  justify-content: right;
  padding: 10px;
  width: 140px;
}

.manage-state-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .manage-state-container {
    flex-direction: column;
  }
}
