:root {
  --toastify-toast-width: 320px;
  --toastify-toast-min-height: 32px;
  --toastify-toast-max-height: 100px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  height: 85vh;
  width: 600px;
  transform: translate(-50%, 0);
  background-color: transparent;
  filter: drop-shadow(0 0 0.2rem var(--linear-gradient-1));
}

.app-container__main-header {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--pearl-white);
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: start;
  margin-bottom: 50px;
  &.light {
  }
}

.app-container__main-header__span-element {
  flex: 1;
}

.app-container__main-header__theme-button-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.app-container__todos-list-container {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  flex: 1;
  background-color: var(--very-dark-desaturated-blue);
  &.light {
    background-color: var(--pearl-white);
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}

/* SCROLL */
/* Firefox */
.app-container__todos-list-container {
  scrollbar-width: thin;
  scrollbar-color: var(--light-grayish-blue) var(--very-dark-desaturated-blue);
  &.light {
    scrollbar-color: var(--very-dark-desaturated-blue) var(--pearl-white);
  }
}

/* SCROLL */
/* Chrome, Edge, and Safari */
.app-container__todos-list-container::-webkit-scrollbar {
  width: 15px;
}

/* SCROLL */
.app-container__todos-list-container::-webkit-scrollbar-track {
  background: var(--very-dark-desaturated-blue);
}

/* SCROLL */
.app-container__todos-list-container.light::-webkit-scrollbar-track {
  background: var(--pearl-white);
}

/* SCROLL */
.app-container__todos-list-container::-webkit-scrollbar-thumb {
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 8px;
  border: 3px solid var(--light-grayish-blue);
}

/* SCROLL */
.app-container__todos-list-container.light::-webkit-scrollbar-thumb {
  border: 3px solid hsl(236, 9%, 61%);
  background-color: var(--pearl-white);
}

.app-container__todos-list-container_no-entry {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  &.light {
    background-color: var(--pearl-white);
  }
}

@media (max-width: 660px) {
  .app-container {
    width: 90%;
  }
  .app-container__main-header {
    margin-bottom: 20px;
  }
}
