.button-refresh {
  /* font */
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.5rem;
  color: var(--pearl-white);
  /* box */
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  height: 100%;
}

.button-refresh:hover {
  filter: drop-shadow(0 0 5px var(--bright-blue));
}

.button-refresh:active {
  backdrop-filter: invert(30%);
}
