.button-refresh {
  /* font */
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
  color: var(--pearl-white);
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}

.button-refresh > image {
  height: 100%;
  width: 100%;
}

.button-refresh:hover {
  filter: drop-shadow(0 0 5px var(--bright-blue));
}

.button-refresh:active {
  backdrop-filter: invert(30%);
}
